$verde-bola:    rgb(122, 255, 129);
$amarillo-bola: rgb(255, 243, 72);
$lila-bola:     rgb(109, 119, 255);

$rojo-principal: rgb(255, 98, 98);
$gris-principal: rgb(47, 47, 57);
$gris-secundario: rgb(64, 64, 64);

$blanco: rgb(255, 255, 255);