$verde-bola:    #7aff81;
$amarillo-bola: #fff348;
$lila-bola:     #6d77ff;

$rojo-principal: #ff6262;
$gris-principal: rgb(47, 47, 57);
$gris-secundario: rgb(64, 64, 64);

$blanco: rgb(255, 255, 255);