@import './colores.scss';
@import './inicio/inicio.scss';
@import './bootstrap.scss';



/* 
ESTRUCTURA CSS POR ETIQUETA
- BLOQUE 1: COLORES
- BLOQUE 2: TAMAÑOS
- BLOQUE 3: AJUSTES
*/
html {
    min-width: 576px;
}

#cardImg {
    border-color: $gris-principal;
    
    border: 2px solid;
}

::-webkit-scrollbar {
    display: none;
}

/*** HEADER ***/
.h-base {
    background-color: $gris-principal;
    color: $blanco;

    height: 45px;

    display: flex;
    align-items: center;
}

.btn-header {
    background-color: $gris-secundario;
    border-color: $blanco;
    color: $blanco;

    padding: 5px;
    border-radius: 10px;
}


/* PUNTO VERDE - IMAGEN */
.point-imagen {
    position: absolute;
    z-index: 1;
    left: calc(50% - 66px);

    height: 16px;
    width: 16px;
}

/* PUNTO AMARIILLO - MUSICA */
.point-musica {
    position: absolute;
    z-index: 1;
    left: calc(50% - 8px);

    height: 16px;
    width: 16px;
}

/* PUNTO LILA - VIDEO */
.point-video {
    position: absolute;
    z-index: 1;
    left: calc(50% + 48px);

    height: 16px;
    width: 16px;
}
/*** FIN HEADER ***/

.f-base {
    height: 50px;
}

/* .b-base {
    min-height: calc(100vh - 45px - 50px);
} */

.singin {
    display: absolute;
}


body {
    background-color: rgb(219, 219, 219);
}

/*** CLASES AUXILIARES ***/

.flex_end {
    display: flex;
    justify-content: end;
}

.bg-primary-opacity-banner {
    background-color: #53535387;
}

.height-20 {
    height: 16px;
}

.fsize-15 {
    font-size: 15px;
}
.fsize-13 {
    font-size: 13px;
}

.text-decoration-none {
    text-decoration: none;
}

.centrar-item {
    display: flex;
    align-items: center;
}


/*** FIN CLASES AUXILIARES ***/


/*** TAMAÑOS SUGERENCIAS ***/

.visor{
    max-width: 90px;
    max-height: 90px;
    overflow: hidden;
    img {
        min-height: 90px;
        position: relative;
    }
    
}

/*** FIN TAMAÑOS SUGERENCIAS ***/


/*** ESTILOS PERFIL ***/

.max-contenido {
    max-height: 100px !important;
    max-width: 100px !important;
}

/*** FIN ESTILOS PERFIL ***/
